@font-face {
    font-family: 'NEXT ART';
    src: url('../fonts/NEXTART_Bold.woff') format(woff);
}
@font-face {
    font-family: 'Nunito Sans SB';
    src: url('../fonts/NunitoSans-SemiBold.woff') format(woff);
}
@font-face {
    font-family: 'Nunito Sans R';
    src: url('../fonts/NunitoSans-Regular.woff') format(woff);
}
@font-face {
    font-family: 'Nunito Sans EB';
    src: url('../fonts/NunitoSans-ExtraBold.woff') format(woff);
}